<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="main.css">

</head>

<body>

<section class="container">
<span><img src="vinyl.jpeg">
<h1>Album Collection</h1>
<a href="/add" id="add-album">add-an-album</a></span>
 {{#albums}}
    <div class="album">
    <p>Album:&nbsp;{{name}}</p>
    <p>Artist:&nbsp;{{artist}}</p>
    <p>Release Date:&nbsp;{{releaseDate}}</p>
    <p>Label:&nbsp;{{label}}</p>
    <p>Genre:&nbsp;{{genre}}</p>
        {{#single}}
        <p>Favorite Single:&nbsp;&nbsp;</p>
       <p> Title:&nbsp;{{title}}&nbsp;</p>
        <p>Track:&nbsp;{{track}}
        {{/single}}</p>
  <form action="/edit/{{id}}" method="get">
    <input type="submit" value="Edit" class="button">
    </form>
    <form action="/delete/{{id}}" method="post">
    <input type="submit" value="Delete" class="button">
    </form>
    </div>
{{/albums}}
</section>

</body>

</html>